/* 引入其他样式文件 */
@import url('base.css');
@import url('layout.css');
@import url('components.css');
@import url('utilities.css');

/* 全局样式 */
body {
    font-family: 'Anek Latin', 'Microsoft YaHei', sans-serif;
    margin: 20px 0;
    padding: 0;
    background-color: #D9D9D9; /* 底色 */
    background-image: url('../assets/texture.png'); /* 材质背景 */
    background-repeat: repeat; /* 平铺材质 */
    background-size: 500px 500px; /* 缩放材质图片 */
    background-blend-mode: overlay; /* 混合模式，使材质与底色融合 */
    box-sizing: border-box;
}

html, body {
    height: 100%; /* 确保页面高度为 100% */
}

/* 默认缩放比例 */
body {
    background-size: 500px 500px;
}

/* 在小屏幕上缩小材质图片 */
@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .profile-image {
        max-width: 800px;
        left: 50px;
    }

    .about-title {
        font-size: 96px;
        left: 100px;
    }

    section {
        font-size: 35px;
    }

    .contact-info, .research-interests, .education, .skills, .creative-fields, .language, .orcid, .email {
        left: 50px;
        width: 90%;
        position: static;
        margin: 20px 0;
    }

    .divider, .arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        background-size: 500px 500px;
    }
    .about-title {
        font-size: 64px;
        left: 50px;
    }

    section {
        font-size: 28px;
    }

    .contact-info p, .skills p, .language p {
        font-size: 24px;
    }

    .profile-image {
        max-width: 100%;
        left: 0;
        top: 150px;
    }
}

@media (max-width: 480px) {
    body {
        background-size: 500px 500px;
    }
    .about-title {
        font-size: 48px;
        left: 20px;
    }

    section {
        font-size: 24px;
    }

    .contact-info p, .skills p, .language p {
        font-size: 20px;
    }

    .profile-image {
        top: 100px;
    }
}